body {
  background-color: black;
  color: white;
  font-family: 'Overpass Mono', monospace;
  font-size: 18px;
  line-height: 1.5;
}
main {
  max-width: 60rem;
  margin: 0 auto;
}

h1 {
  font-weight: bold;
}
a {
  color: blueviolet;
}