{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ page.title }}
</h1>

<p>{{ page.content | safe }}</p>

<h2>Comments</h2>
<script>talkyardServerUrl='{{ config.extra.talkyard_server_url | safe }}';</script>
<script async defer src="{{ config.extra.talkyard_script_url }}"></script>
<!-- You can specify a per page discussion id on the next line, if your URLs might change. -->
<div class="talkyard-comments" data-discussion-id="{% if page.extra.discussion_id %}{{ page.extra.discussion_id }}{% endif %}" style="margin-top: 45px;">
<noscript>Please enable Javascript to view comments.</noscript>
<p style="margin-top: 25px; opacity: 0.9; font-size: 96%">Comments powered by
<a href="https://www.talkyard.io">Talkyard</a>.</p>
</div>

{% endblock content %}
