{% extends "base.html" %}

{% block content %}
<main>
  <p>Hi, I'm Freeman. I'm currently working as a software developer in London, UK.</p>
  <p>
    I last worked at <a href="https://smarkets.com">Smarkets</a> and before that at <a href="https://syftapp.com" target="_blank">Syft</a> (we got acquired by Indeed!).
    I'm also working for <a href="https://fixthemusic.com" target="_blank">FixTheMusic</a> on the side.
  </p>
  <p>My primary areas of interests are:</p>
  <ul>
    <li>Designing and building web user interfaces (e.g. with React)</li>
    <li>Building web APIs and designing backend architectures</li>
    <li>Functional programming (Haskell)</li>
  </ul>

  <p>Recently I've been:</p>
  <ul>
    <li>Setting up <strong>Nix</strong> for a React Native project</li>
    <li>Adding E2E testing with Detox</li>
    <li>Learning Rust</li>
  </ul>
  
  <h2>#blog</h2>
  <p>
    <a href="./blog/learning-haskell-as-react-developer.html">Learning Haskell as a React Developer, with Brick</a> - 02/09/2019<br />
    Building a terminal-based Snake game using Brick to learn Haskell.
  </p>
  <p>
    <a href="https://medium.com/wraptime-io/after-react-elm-152bd6559cb1" target="_blank">After React: Elm?</a> - 20/05/2016<br />
    A peek into the Elm ecosystem and comparison with React.
  </p>
</main>
{% endblock content %}

